.Dashboard-section {
  background-color: #f8f8f8;
  
}

.dashboard-widgets{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 4rem;
  margin-left: 10px;
  margin-right: 10px;
}

.widget:hover,
.event-widget:hover,
.Upcoming-Events-widget:hover,
.Latest-Member-Widget:hover {
  background-color: #105D97; 
  color: white;
  transition: background-color 0.3s ease; 
}

.widget,
.event-widget,
.Upcoming-Events-widget,
.Latest-Member-Widget {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.Latest-Container {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  gap: 4rem;
  margin-left: 10px;
  margin-right: 10px;
}

.widget h2,
.event-widget h2,
.Upcoming-Events-widget h2,
.Latest-Member-Widget h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.widget p,
.event-widget p,
.Upcoming-Events-widget p {
  font-size: 24px;
  font-weight: bold;
}

.Latest-Member-Widget ul {
  margin-left: 10px;
}

.Chart {
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  max-width: 100%; 
  margin-bottom: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.canvas-container {
  display: flex;
  justify-content: space-around;
  gap: 2 rem;
  align-items: flex-start;
  margin-left: 5px;
  margin-right: 5px;
}

canvas {
  max-width: 50%; 
  max-height: 500px;

}


body.dark-mode .Dashboard-section {
  background-color: #333;
}

body.dark-mode .widget,
body.dark-mode .event-widget,
body.dark-mode .Upcoming-Events-widget,
body.dark-mode .Latest-Member-Widget {
  background-color: #424242;
  color: #f1f1f1;
}

body.dark-mode .widget:hover,
body.dark-mode .event-widget:hover,
body.dark-mode .Upcoming-Events-widget:hover,
body.dark-mode .Latest-Member-Widget:hover {
  background-color: #2a88d8;
}

body.dark-mode .Chart {
  background-color: #525252;
}

