.Published_Event-section {
    background-color: #eaeafb;
}

.Published_Event-section .Body_Content {
    margin: 0px 40px 40px 40px;
    border-radius: 50%;
}

.Published_Event-section .Body_Content .PublishedEventsTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.PublishedEventsTable thead tr {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
}

.PublishedEventsTable th,
.PublishedEventsTable td {
    padding: 12px 15px;
}

.PublishedEventsTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.PublishedEventsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.PublishedEventsTable tbody tr:last-of-type {
    border-bottom: 2px solid #11101d;
}

.PublishedEventsTable tbody tr:hover {
    background-color: #d5d5d5;
}

.UnpublishedEventsTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.UnpublishedEventsTable thead tr {
    background-color: #000000;
    color: #ffffff;
    text-align: left;
}

.UnpublishedEventsTable th,
.UnpublishedEventsTable td {
    padding: 12px 15px;
}

.UnpublishedEventsTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.UnpublishedEventsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.UnpublishedEventsTable tbody tr:last-of-type {
    border-bottom: 2px solid #11101d;
}

.UnpublishedEventsTable tbody tr:hover {
    background-color: #d5d5d5;
}


/* Dark Mode */


body.dark-mode.Published_Event-section {
    background-color: #2b2c37;
}

body.dark-mode.Published_Event-section .Body_Content {
    margin: 0px 40px 40px 40px;
    border-radius: 50%;
}

body.dark-mode.Published_Event-section .Body_Content .PublishedEventsTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    width: 100%;
}

body.dark-mode.PublishedEventsTable thead tr {
    background-color: #11101d;
    color: #ffffff;
    text-align: left;
}

body.dark-mode.PublishedEventsTable th,
body.dark-mode.PublishedEventsTable td {
    padding: 12px 15px;
    color: #ffffff;
}

body.dark-mode.PublishedEventsTable tbody tr {
    border-bottom: 1px solid #4b4b4b;
}

body.dark-mode.PublishedEventsTable tbody tr:nth-of-type(even) {
    background-color: #3a3a3a;
}

body.dark-mode.PublishedEventsTable tbody tr:last-of-type {
    border-bottom: 2px solid #11101d;
}

body.dark-mode.PublishedEventsTable tbody tr:hover {
    background-color: #555555;
}