.Settings-section {
    background-color: #eaeafb; 
}

.Settings-section .Body_content {

    margin: 0px 40px 40px 40px;
    border-radius: 50%;
  
  }

.Header_text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}


.setting-option {
    margin-bottom: 10px;
    display: flex;
    
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

.setting-option #logout {
    padding: 8px 15px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1.5%;
    width: fit-content;
    height: 15mm;
    font-size: 18px;
}

.setting-option #logout:hover{
    background-color: #0056b3;

    
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

.Settings-section .Body-Content {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
  }
  
  .setting-item {
    background: #f1f1f1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .setting-item h3 {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .setting-item p {
    margin: 0;
    margin-bottom: 20px;
  }
  
  .setting-item button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .setting-item button:hover {
    background-color: #0056b3;
  }

  .theme-preview .preview-container {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  
  .preview-dashboard .preview-widget {
    background: #eee;
    padding: 20px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    color: #333;
    
  }
  
.preview-container .preview-widget {
    background: #eee;
    color: #333;
    margin: 10px;
}

.preview-dark-mode .preview-widget {
    background: #555;
    color: #fff;
}
.preview-dark-mode #previewWidget2 {
    background: #9e9e9e;
    color: #fff;
}
  
  



