@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #f3f7f5;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

.popup {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

#popupContainer {
    display: none;
}

.popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 88, 88, 1.2);

}

#LoginForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Tab_Header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}

.Tab_Header .tab {
    padding: 20px 10px;
    border: none;
    background-color: #f3f7f5;
    color: grey;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Tab_Header .active {
    background-color: #fff;
    color: black;
    box-shadow: none;

}


.Tab_Header button {
    margin-bottom: 25px;
    padding: 25px 35%;
    font-size: 25px;
}

.Tab_Header .BTNs a {
    text-decoration: none;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.input-container input {
    width: calc(100% - 40px);
    height: 50px;
    padding-left: 40px;
    font-size: 21px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container input:hover {
    border-color: black;
}

.Re_Pass {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;

}

#ForgotPassword {
    text-decoration: none;
}

.btn_Login {
    display: block;
    border: none;
    background-color: rgb(37, 142, 248);
    border-radius: 5px;
    font-size: 25px;
    padding: 18px 30px;
    margin-top: 55px;
    margin-bottom: 15px;
    cursor: pointer;
    margin-left: auto;
    width: 100%;
    color: white;
}

.btn_Login:hover {
    background-color: black;
    color: white;
}

#Or {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.direct_Login {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.direct_Login img#Google-Logo {
    border: 1px solid red;
    border-radius: 6px;
}

.direct_Login img#Github-Logo {
    border: 1px solid black;
    border-radius: 6px;
    width: 53px;
}

.direct_Login img#Facebook-Logo {
    border: 1px solid blue;
    padding: 3px;
    width: 46px;
    border-radius: 6px;
}

.direct_Login img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

#SignUpForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.btn_SignUp {
    display: block;
    border: none;
    background-color:  rgb(37, 142, 248);
    border-radius: 5px;
    font-size: 25px;
    padding: 18px 30px;
    margin-top: 55px;
    margin-bottom: 15px;
    cursor: pointer;
    margin-left: auto;
    width: 100%;
    color: white;
}

.TCApply{
    font-family: Arial, Helvetica, sans-serif;
}

.btn_SignUp:hover {
    background-color: black;
    color: white;
}

.container {
    background-color: lightblue;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 92%;
    margin: 60px auto;
    padding-top: 10px;
    border-radius: 40px;
}

.container span {
    font-size: 600%;
}

.container span {
    text-align: center;
}

.Get_Started {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin: 30px;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: max-content;
    will-change: transform;
}

.Get_Started:disabled {
    pointer-events: none;
}

.Get_Started:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.Get_Started:active {
    box-shadow: none;
    transform: translateY(0);
}

#Section2 {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: row;
}

.text2 {
    margin: 0% 6% 2% 6%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    width: calc(100% - 8%);
}

.text2 .LhsContent {
    flex: 1 60%;
    margin-right: 80px;
}

.text2 .RhsContent {
    flex: 2 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-items: left;
}

.text2 span .text2 p {
    text-align: left;
}

.text2 .Title span {
    font-size: 40px;
    color: darkgreen;
}

.text2 .Paragraph p {

    text-align: left;
    word-spacing: 5px;
    font-size: 24px;

}

.text2 .One .Two .Three {
    text-align: left;

}

.text2 .One span,
.Two span,
.Three span {
    font-size: 24px;
    font-weight: bold;
}

.text2 .One p {
    font-size: 18px;

}

.text2 .Two p {
    font-size: 20px;
}

.text2 .Three p {
    font-size: 20px;
}

.text3 {
    margin: 2% 7% 2% 7%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 8%);
}

.text3 p {
    text-align: left;
    font-size: 24px;
}


.picture {
    background-color: lightgray;
    height: 500px;
    width: 100%;
    margin: 7%;
    align-items: center;
    border-radius: 15px;
    flex: 1 90%;

}

#Section3,
#Section4 {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: row;

}

.text4 {
    margin: 2% 7% 4% 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 8%);

}

.text3 span,
.text4 span {
    font-size: 5rem;

}

.text4 p {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
}


.Picture2 {
    background-color: lightgray;
    height: 500px;
    width: 100%;
    margin: 7%;
    align-items: center;
    border-radius: 15px;
    flex: 1 1 150%;
}

#section5 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    flex-wrap: wrap;
    justify-content: space-between;
}
.member {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.details {
    margin-left: 10px;
}

.footer {
    background-color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow:  0 -5px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    
}

.social-icon {
    color: black;
    font-size: 1.5rem;
    margin-left: 20px;
    transition: transform 0.15s ease;
}

.social-icon:hover {
    transform: scale(1.5);
}

.footer-text h2 {
    color: black;
    font-size: 20px;
    transition: color cubic-bezier(0.075, 0.82, 0.165, 1) ease;
    margin-left: 20px;
}

.footer-text h2:hover {
    color: rgb(0, 0, 0);
}

.content {
    position: relative;
    z-index: 1;
  }
  
.background-design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.5;
  }
 .section{
    animation: fade-in linear;
    animation-timeline: view();
 }

 @keyframes fade-in{
    from {scale: .8; opacity: 1;}
    to{ scale:1; opacity:0}
 }

 