body {
    background-color: #f3f7f5;
    margin: 0;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 40px;
    min-width: 100px;
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.1);
}

nav .The-CryptoShow-LOGO img {
    width: 13%;
    margin: 8px 10px;
}

nav .Buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav button {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: black;
    border: none;
    background: none;
    cursor: pointer;
}

nav button a{
    text-decoration: none;
    color: black;
}

nav .Buttons .SignUp {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

nav .Buttons .SignUp:hover {
    background-color: #fff;
}

nav .Buttons .SignUp:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .SignUp {
        min-width: 120px;
        padding: 0 25px;
    }
}


nav a.Register {
    border: 2px solid black;
    padding: 10px;
    border-radius: 40px;
}


.popup {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

#popupContainer {
    display: none;
}

.popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 88, 88, 1.2);

}

#LoginForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Tab_Header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
}

.Tab_Header .tab {
    padding: 20px 10px;
    border: none;
    background-color: #f3f7f5;
    color: grey;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Tab_Header .active {
    background-color: #fff;
    color: black;
    box-shadow: none;

}


.Tab_Header button {
    margin-bottom: 25px;
    padding: 25px 35%;
    font-size: 25px;
}

.Tab_Header .BTNs a {
    text-decoration: none;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.input-container input {
    width: calc(100% - 40px);
    height: 50px;
    padding-left: 40px;
    font-size: 21px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container input:hover {
    border-color: black;
}

.Re_Pass {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
    font-size: 21px;
    font-family:Arial, Helvetica, sans-serif;

}

#ForgotPassword {
    text-decoration: none;
}

#btn_Login {
    display: block;
    border: none;
    background-color: rgb(37, 142, 248);
    border-radius: 5px;
    font-size: 25px;
    padding: 18px 30px;
    margin-top: 55px;
    margin-bottom: 15px;
    cursor: pointer;
    margin-left: auto;
    width: 100%;
    color: white;
}

#btn_Login:hover {
    background-color: black;
    color: white;
}


#SignUpForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#btn_Register {
    display: block;
    border: none;
    background-color:  rgb(37, 142, 248);
    border-radius: 5px;
    font-size: 25px;
    padding: 18px 30px;
    margin-top: 55px;
    margin-bottom: 15px;
    cursor: pointer;
    margin-left: auto;
    width: 100%;
    color: white;
}

.TCApply{
    font-family: Arial, Helvetica, sans-serif;
}

#btn_Register:hover {
    background-color: black;
    color: white;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#error-message {
    display: none;
    color: red;
    font-size: 0.8em;
}

.error-input {
    border: 1px solid red;
}
