.Devices-section {
    background-color: #eaeafb;
}

.Header {
    display: flex;
    align-items: center;
    float: right;
}

.add-icon {
    margin-right: 120px;
    margin-left: 20px;
    margin-bottom: 25px;
    z-index: 1;
    background-color: #11101d;
    padding: 15px 25px;
    border-radius: 20%;
    border: 2px solid black;
    color: white;
    cursor: pointer;
}

#SearchDevices {
    width: 130%;
    padding: 15px;
    margin-bottom: 25px;
    margin-right: 30px;
    border-radius: 10px;
    font-size: 15px;
    float: right;
}


.device-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    gap: 50px;
    padding: 20px;
    align-items: center;
}

@media (max-width: 1200px) {
    .device-tiles {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 900px) {
    .device-tiles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .device-tiles {
        grid-template-columns: 1fr;
    }
}

.device-tile {
    cursor: pointer;
    background-color: #e0e0e0;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease;
    position: relative;
}

.device-tile:hover {
    background-color: #105D97;
    color: white;
}

.device-tile h1 {
    margin-bottom: 10px;
}

@keyframes expandTile {
    0% {
        width: 300px;
        height: 13rem;
    }

    100% {
        width: calc(100% - 20px);
        max-width: calc(100vw - 40px);
        height: auto;
    }
}

.device-tile.expanded {
    animation: expandTile 0.8s ease forwards;
    width: calc(100% - 20px);
    max-width: calc(100vw - 40px);
    grid-column: span 2;
    z-index: 1;
    color: white;
    overflow-y: auto;
    height: max-content;
    background-color: #105D97;
    min-width: 400px;
}

.pencil-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;

}

.pencil-icon:hover {
    color: black;
}

.DeleteDevice-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 50px;
    color: white;
    cursor: pointer;
    font-size: 20px;

}

.DeleteDevice-icon:hover {
    color: red;
}

.edit-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 80px;
    color: white;
    cursor: pointer;
    font-size: 20px;

}

.edit-icon:hover {
    color: greenyellow;
}

.closeform-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 80px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.closeform-icon:hover {
    color: black;
}

.update-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.update-icon:hover {
    color: black;
}


.device-tile.expanded .pencil-icon {
    display: block;
}

.device-tile.expanded .edit-icon {
    display: block;
}

.device-tile.expanded h1 {
    margin: 20px;
    font-size: 25px;
}

.EDDTAC {
    display: none;
    margin: 20px;
}

.EDDTAC p {
    font-size: 18px;
    margin-left: 20px;

}

.EDDTAC th,
td {
    color: white;
    font-size: 20px;
    padding: 8px;
    text-align: left;
}


.device-tile.expanded .EDDTAC {
    display: block;
}

.EDDTAC tbody tr {
    width: 100%;
}

.EditDevice_form-container {
    width: 500px;
}

.EditDevice_form-container form {
    display: flex;
    flex-direction: column;
}

.EditDevice_form-container label {
    font-weight: normal;
    margin-bottom: 5px;
    color: white;
    width: max-content;
}

.EditDevice_form-container input[type=text],
.EditDevice_form-container select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: calc(100% - 22px);
}

.EditDevice_form-container button {
    background-color: #ffffff;
    color: #105D97;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(100% - 22px);
}

.EditDevice_form-container button:hover {
    background-color: #105D97;
    border: 2px solid white;
    color: white;
}


.NewDevice_form-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    /* Black background with transparency */
    padding-top: 60px;
}

.form-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.form-content label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    width: fit-content;
}

.form-content input[type="text"],
.form-content select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-content select {
    width: 100%;
}

.NewDevice_form-container button[type="submit"],
.closeaddform-icon {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.NewDevice_form-container button[type="submit"] {
    background-color: #11101d;
    color: white;
}

.NewDevice_form-container button[type="submit"]:hover {
    background-color: #3268fe;
    color: black;
}

.closeaddform-icon:hover {
    color: red;
}

.closeaddform-icon {
    font-size: 35px;
    float: right;
}